body {
    font-family: "Flamenco" !important;
}

.header {
    height: 80px;
    padding: 16px 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(228, 228, 228);
}

.logo {
    height: 50px;
}

.connect-link {
    display: inline-block;
    color: #333;
    font-size: 24px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 4px;
}

.connect-link:hover {
    color: #007bff;
}

.background-color {
    background-color: #fafafa;
}

.view-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-me h2 {
    text-align: justify;
    margin-top: 8px;
}